.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  background: #222326;
  color: white;
}

.feature-section-home {
  background: linear-gradient(#22232633, #22232699),
    url("./img/unnamed.png") no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.section-full-height {
  height: 90vh;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 90%;
  z-index: 5;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(168, 2, 2);
  border-radius: 10px;
}
